<a href="https://colab.research.google.com/github/meutiars/latihan/blob/main/session11_Basic_Programming_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#while loop

In [ ]:
count = 0 
print ('program dimulai')

while (count < 10):
  print ('count adalah : ', count)
  count += 1 # count = count + 1

print ('program selesai')

program dimulai
count adalah :  0
count adalah :  1
count adalah :  2
count adalah :  3
count adalah :  4
count adalah :  5
count adalah :  6
count adalah :  7
count adalah :  8
count adalah :  9
program selesai

In [ ]:
count = 1 
print ('program dimulai')

while (count <= 10):
  print ('count adalah : ', count)
  count += 1 # count = count + 1

print ('program selesai')

program dimulai
count adalah :  1
count adalah :  2
count adalah :  3
count adalah :  4
count adalah :  5
count adalah :  6
count adalah :  7
count adalah :  8
count adalah :  9
count adalah :  10
program selesai

In [ ]:
count = 1 
print ('program dimulai')

while (count <= 10):
  print ('count adalah : ', count)
  count += 2 # count = count + 1

print ('program selesai')

program dimulai
count adalah :  1
count adalah :  3
count adalah :  5
count adalah :  7
count adalah :  9
program selesai

In [ ]:
count = 10 
print ('program dimulai')

while (count > 0):
  print ('count adalah : ', count)
  count -= 1 # count = count - 1

print ('program selesai')

program dimulai
count adalah :  10
count adalah :  9
count adalah :  8
count adalah :  7
count adalah :  6
count adalah :  5
count adalah :  4
count adalah :  3
count adalah :  2
count adalah :  1
program selesai

#Merubah penulisan jadi horizontal

In [ ]:
print ('helo', end=' ')
print ('world')

helo world

In [ ]:
count = 10 
print ('program dimulai')

while (count > 0):
  print (count, end= ' ')
  count -= 1 # count = count - 1

print (' ')
print ('program selesai')

program dimulai
10 9 8 7 6 5 4 3 2 1
program selesai

#For Loop

In [ ]:
for i in range (0, 10): 
  print ('nilai : ', i)
  
print('end iteration')

nilai :  0
nilai :  1
nilai :  2
nilai :  3
nilai :  4
nilai :  5
nilai :  6
nilai :  7
nilai :  8
nilai :  9
end iteration

In [ ]:
for i in range (1, 20, 2):
  print (i)

print ('program selesai')

1
3
5
7
9
11
13
15
17
19
program selesai

In [ ]:
for i in range (20, 3, -2):
  print(i)

print ('Program selesai')

20
18
16
14
12
10
8
6
4
Program selesai

#Break Loop Statement

In [ ]:
print ('using break inside for loop')

num = 6 
for h in range (1, 10):

  if (h == num):
    break 
  print (h)
  print ('hi')
  print ('you')
  print ('hasil kuadrat dari ', h, 'adalah ', h**2)
  
print ('   ')
print ('hasil kuadrat dari ', h, 'adalah ', h**2)
print ('end program')

using break inside for loop
1
hi
you
hasil kuadrat dari  1 adalah  1
2
hi
you
hasil kuadrat dari  2 adalah  4
3
hi
you
hasil kuadrat dari  3 adalah  9
4
hi
you
hasil kuadrat dari  4 adalah  16
5
hi
you
hasil kuadrat dari  5 adalah  25

hasil kuadrat dari  6 adalah  36
end program

In [ ]:
i = 1
num = 5

while (i < 10):
  print(i)
  if (i == num):
    break

  i += 1

1
2
3
4
5

#continue loop statement

In [ ]:
num = 5
 #lima ini akan di skip

for i in range (0, 10):
  if (i == num):
    continue 

  print (i)

print ('')
print ('program selesai')

0
1
2
3
4
6
7
8
9

program selesai

In [ ]:
i = 10
num = 6  #num akan di skip

while (i > 0):
  i = i - 1
  if i == num:
    continue 
  print (i)

9
8
7
5
4
3
2
1
0

#for loop with else

In [ ]:
for i in range (0, 15):
  print (i)

else :
  print ('program selesai')

print ('out of block')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
program selesai
out of block

In [ ]:
for i in range (0, 15):
  print (i)
  if (i == 8):
    break  #ketika ada 'break', 'else' tidak dijalankan
else :
  print ('program selesai')

print (' ')
print ('out of block')

0
1
2
3
4
5
6
7
8

out of block

#nested loops

In [ ]:
for i in range (0, 10):
  for j in range (0, 5):
    print ('j: ', j)
  
  print ('i: ', i)
  print (' ')

j:  0
j:  1
j:  2
j:  3
j:  4
i:  0

j:  0
j:  1
j:  2
j:  3
j:  4
i:  1

j:  0
j:  1
j:  2
j:  3
j:  4
i:  2

j:  0
j:  1
j:  2
j:  3
j:  4
i:  3

j:  0
j:  1
j:  2
j:  3
j:  4
i:  4

j:  0
j:  1
j:  2
j:  3
j:  4
i:  5

j:  0
j:  1
j:  2
j:  3
j:  4
i:  6

j:  0
j:  1
j:  2
j:  3
j:  4
i:  7

j:  0
j:  1
j:  2
j:  3
j:  4
i:  8

j:  0
j:  1
j:  2
j:  3
j:  4
i:  9

In [ ]:
for i in range (0, 5):
  for j in range (0, 3):
    print (j)
  
  print ('i: ', i)
  print (' ')

print ('selesai')

0
1
2
i:  0

0
1
2
i:  1

0
1
2
i:  2

0
1
2
i:  3

0
1
2
i:  4

selesai

In [ ]:
for i in range (0, 5):
  for j in range (0, 3):
    print (i,',', j, end='   ')
  
  print ('i:', i)
  print (' ')

print ('selesai')

0 , 0   0 , 1   0 , 2   i: 0

1 , 0   1 , 1   1 , 2   i: 1

2 , 0   2 , 1   2 , 2   i: 2

3 , 0   3 , 1   3 , 2   i: 3

4 , 0   4 , 1   4 , 2   i: 4

selesai

#casting

In [ ]:
var1 = 'helo python'
var2 = var1.capitalize()
print (var2)
print ('  ')


var3 = 'hello python.python is fun'
var4 = var3.count('python')
print (var4)
print ('  ')

var5 = 'helo'
var6 = var5.isnumeric()
print (var6)
print('  ')

var7 = 'HELLO PYTHON'
var8 = var7.lower()
print(var8)
print('  ')

var9 = 'hello python. hello you.'
var10 = var9.split(' ')
print(var10)
print(var10 [3])

Helo python

2

False

hello python

['hello', 'python.', 'hello', 'you.']
you.

#try except

In [ ]:
try:
  print (x)
except:
  print ('Something went wrong')
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [ ]:
var1 = input('masukan angka: ')

try:
  var2 = float(var1)
  print(var2)

except:
  print('silahkan masukan angka. Coba sekali lagi')

masukan angka: hai
silahkan masukan angka. Coba sekali lagi

In [ ]:
var1 = input('masukan angka: ')

try:
  var2 = float(var1)
  print(var2)

except:
  print('silahkan masukan angka. Coba sekali lagi')

finally:
  print('sukses')

masukan angka: 7
7.0
sukses

In [ ]:
var1 = input('masukan angka: ')

if not (var1.isnumeric()):
  print ('Silahkan masukan angka')

print('Program selesai')

masukan angka: hello
Silahkan masukan angka
Program selesai

In [ ]:
var1 = input('masukan angka: ')

if not (var1.isnumeric()):
  print ('Silahkan masukan angka')
else :
  var2 = float(var1)
  print(var2**2)
  
print('Program selesai')

masukan angka: hello
Silahkan masukan angka
Program selesai