<a href="https://colab.research.google.com/github/meutiars/latihan/blob/main/Session_12_Basic_Programming_Array_and_other_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']
list2 = [3.14, True, 8, 'Hello', 'World']

print (list1)
print (list1[2])
print(list1[1:])    #dari index 1 sampe selesai
print(list2 [-2])  #dari belakang
print (list2[0])
print (list2[-1])

['mia', 'hilman', 'bella', 'vino']
bella
['hilman', 'bella', 'vino']
Hello
3.14
World

In [ ]:
list4 = ['apple', 'cherry', 'apple', 'manggo']

print(list4)  #tidak masalah kalau ada duplikat data, bisa tetap ditampilkan

['apple', 'cherry', 'apple', 'manggo']

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']
list2 = [3.14, True, 8, 'Hello', 'World']


for i in list1:
  print(i)

print('------')

for j in list2:
  print(j)
print(j, end =' ')

mia
hilman
bella
vino
------
3.14
True
8
Hello
World
World

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']
list2 = [3.14, True, 8, 'Hello', 'World']

for i in range(4):
  print (list1[i])

mia
hilman
bella
vino

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']
list2 = [3.14, True, 8, 'Hello', 'World']

print(len(list1))

for i in range(4):
  print (list1[i])

print('------')

for j in range(len(list2)):
  print (list2[j])

4
mia
hilman
bella
vino
------
3.14
True
8
Hello
World

#constructor

In [ ]:
t = (1, 2, 3, 4, 5)
print (t)

u = list(t)
print (u)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

#Nested List

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']
list2 = [3.14, True, 8, 'Hello', 'World']

list3 = ['python', list1, 'SQL', list2] #menggabungkan list sebelumnya ke dalam list baru 

print(list3)

print(list3[3][4])

print ('---------')

for i in (list3):
  print (i)

['python', ['mia', 'hilman', 'bella', 'vino'], 'SQL', [3.14, True, 8, 'Hello', 'World']]
World
---------
python
['mia', 'hilman', 'bella', 'vino']
SQL
[3.14, True, 8, 'Hello', 'World']

#Checking in List

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']

if 'andi' in list1: 
  print('ada')
else :
  print ('tidak ada')

tidak ada

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']

if 'andi' not in list1: 
  print('betul')
else :
  print ('salah')

betul

#Manipulation in List

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']
list1.append('maya') 

print (list1)

['mia', 'hilman', 'bella', 'vino', 'maya']

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']
list1.insert(1,'maya')  #memasukan sesuai index yang kita mau


print(list1)

['mia', 'maya', 'hilman', 'bella', 'vino']

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']
print(list1)


list1 = ['mia', 'hilman', 'bella', 'vino']
list1.remove('bella')

print(list1)

list1.pop(0)
print (list1)

['mia', 'hilman', 'bella', 'vino']
['mia', 'hilman', 'vino']
['hilman', 'vino']

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']
print(list1)   

list1[2] = 'sara'  #untuk update list
print(list1)

['mia', 'hilman', 'bella', 'vino']
['mia', 'hilman', 'sara', 'vino']

#concatenation

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino']
list2 = [3.14, True, 8, 'Hello', 'World']

list3 = list1 + list2
print (list3)

print('--------------------------------------')

list1.extend(list2)
print(list1)

['mia', 'hilman', 'bella', 'vino', 3.14, True, 8, 'Hello', 'World']
--------------------------------------
['mia', 'hilman', 'bella', 'vino', 3.14, True, 8, 'Hello', 'World']

#others

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino', 'mia', 'vino']

print(list1.count('vino'))

print(list1.index('vino'))
print(list1.index('mia'))

list1.reverse()
print(list1)

2
3
0
['vino', 'mia', 'vino', 'bella', 'hilman', 'mia']

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino', 'mia', 'vino']
list1.sort()

print(list1)

['bella', 'hilman', 'mia', 'mia', 'vino', 'vino']

In [ ]:
list1 = ['mia', 'hilman', 'bella', 'vino', 'mia', 'vino']

list1.remove('vino')
print(list1)

['mia', 'hilman', 'bella', 'mia', 'vino']

#Tuple

In [ ]:
t1 = (1, 2, 3, 4, 5)

print(t)
print(' ')

t2 = ('mia', 'hilman', 'bella', 'vino')

print(t2)

for i in t2:
  print(i)

(1, 2, 3, 4, 5)

('mia', 'hilman', 'bella', 'vino')
mia
hilman
bella
vino

In [ ]:
list1 = [1, 2, 3, 4, 5]
t1 = tuple(list1) #memaksa list menjadi tuple 
print(t1)

(1, 2, 3, 4, 5)

#Set

In [ ]:
s1 = {'mia', 'hilman', 'bella', 'vino'}
print(s1)
print('   ')  #untuk set ini tidak ber-index
for i in s1:
  print (i)

{'bella', 'mia', 'hilman', 'vino'}

bella
mia
hilman
vino

In [ ]:
s1 = {'mia', 'hilman', 'bella', 'vino'}
print(s1)

s1.add('johan')
print(s1)

{'bella', 'mia', 'hilman', 'vino'}
{'johan', 'hilman', 'bella', 'vino', 'mia'}

In [ ]:
s1 = {'mia', 'hilman', 'bella', 'vino'}
print(s1)

s1.update({'johan', 'shopia', 'joe'})
print(s1)

{'bella', 'mia', 'hilman', 'vino'}
{'bella', 'vino', 'johan', 'joe', 'mia', 'hilman', 'shopia'}

In [ ]:
s1 = {'mia', 'hilman', 'bella', 'vino'}

print(len(s1))

4

In [ ]:
s1 = ['mia', 'hilman', 'bella', 'vino']
print(s1)

print('    ')

s2 = set(s1)
print(s2)

['mia', 'hilman', 'bella', 'vino']

{'bella', 'mia', 'hilman', 'vino'}

In [ ]:
s1 = {'mia', 'hilman', 'bella', 'vino', 'hilman'} 

print(s1)  #tidak bisa duplikat, data tetep ditampilkan satu saja

{'bella', 'mia', 'hilman', 'vino'}

In [ ]:
s1 = {'mia', 'hilman', 'bella', 'vino', 'hilman'} 

s1.clear()
print(s1)

set()

In [ ]:
s1 = {'mia', 'hilman', 'bella', 'vino', 'hilman'} 
s2 =  {'mia', 'hilman', 'shopie', 'vino', 'hilman'} 
s3 = s1.difference(s2)

print(s3)

{'bella'}

#Dictionaries

In [ ]:
cities = {'Indonesia' : 'Jakarta',
          'Thailand' : 'Bangkok',
          'Malaysia' : 'Kuala Lumpur',
          'Vietnam' : 'Hanoi'
          }
print (cities)

print('   ')
print(cities['Vietnam'])
print(cities['Indonesia'])

print('  ')
print(cities.get('Thailand'))
print(cities.get('Malaysia'))

print('   ')
for i in cities:
  print (i)

print('  ')
for i in cities:
  print (cities[i])

print('  ')
for i in cities:
  print(i, ':', cities[i])

{'Indonesia': 'Jakarta', 'Thailand': 'Bangkok', 'Malaysia': 'Kuala Lumpur', 'Vietnam': 'Hanoi'}

Hanoi
Jakarta

Bangkok
Kuala Lumpur

Indonesia
Thailand
Malaysia
Vietnam

Jakarta
Bangkok
Kuala Lumpur
Hanoi

Indonesia : Jakarta
Thailand : Bangkok
Malaysia : Kuala Lumpur
Vietnam : Hanoi

In [ ]:
cities = {'Indonesia' : 'Jakarta',
          'Thailand' : 'Bangkok',
          'Malaysia' : 'Kuala Lumpur',
          'Vietnam' : 'Hanoi'
          }
print (cities.keys())
print (cities.values())
print (cities.items())

dict_keys(['Indonesia', 'Thailand', 'Malaysia', 'Vietnam'])
dict_values(['Jakarta', 'Bangkok', 'Kuala Lumpur', 'Hanoi'])
dict_items([('Indonesia', 'Jakarta'), ('Thailand', 'Bangkok'), ('Malaysia', 'Kuala Lumpur'), ('Vietnam', 'Hanoi')])

In [ ]:
cities = {'Indonesia' : 'Jakarta',
          'Thailand' : 'Bangkok',
          'Malaysia' : 'Kuala Lumpur',
          'Vietnam' : 'Hanoi'
          }

cities['Korea'] = 'Seoul' #add
print(cities)

cities['Indonesia'] = 'Surabaya' #update
print(cities)

{'Indonesia': 'Jakarta', 'Thailand': 'Bangkok', 'Malaysia': 'Kuala Lumpur', 'Vietnam': 'Hanoi', 'Korea': 'Seoul'}
{'Indonesia': 'Surabaya', 'Thailand': 'Bangkok', 'Malaysia': 'Kuala Lumpur', 'Vietnam': 'Hanoi', 'Korea': 'Seoul'}

In [ ]:
cities = {'Indonesia' : 'Jakarta',
          'Thailand' : 'Bangkok',
          'Malaysia' : 'Kuala Lumpur',
          'Vietnam' : 'Hanoi'
          }

cities.pop('Vietnam') #untuk menghapus
print(cities)

{'Indonesia': 'Jakarta', 'Thailand': 'Bangkok', 'Malaysia': 'Kuala Lumpur'}

In [ ]:
cities = {'Indonesia' : 'Jakarta', #value lama
          'Thailand' : 'Bangkok',
          'Malaysia' : 'Kuala Lumpur',
          'Vietnam' : 'Hanoi',
          'Indonesia' : 'Surabaya' #valule baru
          }

print (cities) #value yang lama diganti dengan value yang baru

{'Indonesia': 'Surabaya', 'Thailand': 'Bangkok', 'Malaysia': 'Kuala Lumpur', 'Vietnam': 'Hanoi'}

In [ ]:
cities = {'Indonesia' : 'Jakarta', 
          'Thailand' : 'Bangkok',
          'Malaysia' : 'Kuala Lumpur',
          'Vietnam' : 'Hanoi',
          }

if ('Indonesia' in cities):
  print ('ada')

print(len(cities))

ada
4